    <footer class="footer">
        <div class="container">
            <div class="footer__main">
                <div class="footer__main-row row">
                    <div class="footer__main-col-logo col-auto">
                        <a class="footer-logo" href="/">
                            <svg class="footer-logo__img" width="151" height="37"><use xlink:href="/img/svg/sprite.svg#logo"></use></svg>
                        </a>
                    </div>
                    <div class="footer__main-col-hr col-auto">
                        <span class="footer__main-hr">&nbsp;</span>
                    </div>
                    <div class="footer__main-col-menu col-auto">
                        <nav class="footer-menu">
                            <ul class="footer-menu__list">
                                <li class="footer-menu__item">
                                    <a class="footer-menu__link" href="#">О компании</a>
                                </li>
                                <li class="footer-menu__item">
                                    <a class="footer-menu__link" href="#">Клиенты</a>
                                </li>
                                <li class="footer-menu__item">
                                    <a class="footer-menu__link" href="#">Отзывы</a>
                                </li>
                                <li class="footer-menu__item">
                                    <a class="footer-menu__link" href="#">Кейсы</a>
                                </li>
                                <li class="footer-menu__item">
                                    <a class="footer-menu__link" href="#">Цены</a>
                                </li>
                                <li class="footer-menu__item">
                                    <a class="footer-menu__link" href="#">Контакты</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="footer__main-col-button col-auto">
                        <a class="btn btn--geom-def-bd-1 btn--theme-dark js-popup" href="#popup-callback">Заказать звонок</a>
                    </div>
                </div>
            </div>

            <div class="footer__bottom">
                <div class="footer__bottom-row row">
                    <div class="footer__bottom-col-text col-auto">
                        <div class="footer-info-text text">
                            <p>
                                ООО “ЛОГО”. 133456, г. Москва, ул. 3-я Парковая, 10 <br><br>
                                тел.: <a href="tel:8-123-456-78-90">8-123-456-78-90</a>, <a href="tel:8-321-654-00-01">8-321-654-00-01</a><br>
                                <a href="mailto:info@koopwork.ru">info@koopwork.ru</a>
                            </p>
                        </div>
                    </div>
                    <div class="footer__bottom-col col-auto">
                        <div class="footer__socials">
                            <span class="footer-socials">
                                <a class="footer-socials__item socials__item--vk" href="https://www.vk.com/" target="_blank">
                                    <svg width="26" height="15"><use xlink:href="/img/svg/sprite.svg#icon-soc-vk"></use></svg>
                                </a>

                                <a class="footer-socials__item socials__item--inst" href="https://www.instagram.com/" target="_blank">
                                    <svg width="11" height="21"><use xlink:href="/img/svg/sprite.svg#icon-soc-fb"></use></svg>
                                </a>
                    
                                <a class="footer-socials__item socials__item--fb" href="https://www.facebook.com/" target="_blank">
                                    <svg width="26" height="26"><use xlink:href="/img/svg/sprite.svg#icon-soc-inst"></use></svg>
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    
    </div>
    <script src="js/scripts.js"></script>

</body>
</html>
