.header-location {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;

    &__icon {
        margin: 0 10px 0 0;
        flex-shrink: 0;
        color: $color3;
        position: relative;
        top: -1px;
    }
    &__text {
        
    }
}

.header-numbers {
    display: flex;
    align-items: center;

    &__icon {
        position: relative;
        margin: -1px 10px 0 0;
        flex-shrink: 0;
        color: $color3;

        flex-basis: 15px;
        width: 15px;
        height: 15px;
        

        svg {
            width: 100%;
            height: 100%;
        }
    }
    &__links {
        white-space: nowrap;
    }
    &__link {
        text-decoration: none;
        color: inherit;
    }

    &__second-number {
        // @include rule(display, (xs: none , lg: inline));
        white-space: nowrap;
    }
}

.header-mail {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;

    &__icon {
        margin: 0 10px 0 0;
        flex-shrink: 0;
        color: $color3;
    }
    &__text {
        
    }
}

.header-logo {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    color: $color2;
    
    @include media-breakpoint-down (md) {
        .mobile-menu-open & {
            z-index: 2;
        }
    }
}

.header-nav {
    // margin-bottom: 30px;
    
    &__list {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        @include rule(flex-direction, (xs: column, lg: row));
        align-items: center;
    }

    &__item {
        text-align: left;

        &:not(:last-child) {
            margin: 0 20px 0 0;
            @include rule(margin, (xs: 0 0 20px 0, lg: 0 20px 0 0));
        }
    }

    &__link {
        display: block;
        @include rule(font-size, (xs: 16px, lg: 14px, xl: 16px));
        font-weight: 600;
        color: $color1;
        text-decoration: none;
        text-transform: none;

    
        &:hover,
        &:active,
        &.current {
            color: lighten($color1, 20);
            
        }
    }
}

.mobile-menu {
    $b: &;
  
    margin: 0;
    display: inline-block;
    vertical-align: middle;
    color: blue;
    
    &__trigger {
      margin: 0;
      padding: 0;
      position: relative;
      z-index: 2;
      display: inline-block;
      vertical-align: middle;
  
      box-shadow: none;
      outline: none;
      background: none;
      border: none;
      cursor: pointer;
      transition: 0.5s;
      outline: none;
  
  
      &-icon {
        display: inline-block;
        position: relative;
        width: 34px;
        height: 34px;
        color: $color1;
        background: none;
        border: none;
        outline: none;
        
        transition: all 0.5s 0.3s;
        will-change: transform;

          #{$b}.open & {
          transform: rotate(135deg);
        }
  
        &-line {
          position: absolute;
          right: 25%;
          left: 25%;
          height: 2px;
          margin-top: -1px;
          background-color: currentcolor;
          transition: 
            top 0.5s 0.3s, transform 0.5s 0.3s, 
            opacity 0.5s 0.3s, 
            background-color 0s 0s, 
            left 0.5s 0.3s, 
            right 0.5s 0.3s;
  
          #{$b}.open & {
            top: 50%;
          }
          &--1 {
            top: 29%;
            left: 33%;
            
            #{$b}:not(.open) #{$b}__trigger:hover &,
            #{$b}:not(.open) #{$b}__trigger:active & {
              left: 25%;
            }

            #{$b}.open & {
                left: 15%;
                right: 15%;
            }

          }

          &--2 {
            top: 50%;
            left: 45%;

            #{$b}:not(.open) #{$b}__trigger:hover &,
            #{$b}:not(.open) #{$b}__trigger:active & {
              left: 25%;
            }

            #{$b}.open & {
                opacity: 0;
            }
          }
         

          &--3 {
            top: 71%;
            
            #{$b}.open & {
                left: 15%;
                right: 15%;
                transform: rotate(90deg);
            }
          }

          
        }
      }

    }
  
    &__content {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      text-align: left;
      z-index: 0;
      background: #fff;
      color: #000;
      height: 100vh;
      overflow: auto;
      padding: 0;
      transition: all 0.3s ease-out;

      opacity: 0;
      pointer-events: none;
    
      transform-origin: 0 0;
      transform: perspective(0) rotate3d(1,0,0,90deg);
  
  
      #{$b}.open & {
        pointer-events: visible;
		opacity: 1;
		z-index: 1;
        transform: perspective(0) rotate3d(1,0,0,0);
      }
  
      &-inner {
        width: 100%;
        min-height: 100vh;
        
        padding: 140px 0 60px;
      }
  
      &-container {
        width: 100%;
      }
    }
  
    &__nav {
        margin-bottom: 30px;
    }
    
    &__contacts-block {
        text-align: center;
        margin-bottom: 30px;
    }

    &__numbers {
        display: flex;
        margin: 0 0 15px;
        justify-content: center
    }

    &__email {
        display: flex;
        margin: 0 0 25px;
        justify-content: center;
    }

    &__button {
        display: block;
        text-align: center;
    }


 
      
    @include media-breakpoint-up(sm) {
    }
    
    @include media-breakpoint-up(md) {
    }
    
    @include media-breakpoint-up(lg) {
        &__content {
            &-inner {
                padding-top: 138px;
            }
        }

        &__nav {
            margin-bottom: 0;

            &-list {
                margin-bottom: 0;
            }

            &-item {
                text-align: left;

                &:not(:last-child) {
                    margin-bottom: 20px;
                }
            }
        }

        &__contacs-block {
            margin-bottom: 0;
            text-align: left;
        }

        
        &__email {
            text-align: left;
        }

        &__socials {
            justify-content: flex-start;
        }

        &__feedback {
            text-align: left;
        }
    }
    
    @include media-breakpoint-up(xl) {
    }
}

.header {
    position: relative;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.6);

    @include media-breakpoint-down (md) {
        .mobile-menu-open & {
            z-index: 2;
        }
        .mobile-menu-open &::before {
            content: '';
            position: absolute;
            z-index: 2;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: #fff;
            box-shadow: 0 4px 6px rgba(0,0,0,.6);
        }
    }


    &__top {
        position: relative;
        padding: 6px 0 5px;
        font-size: 14px;
        font-weight: 500;
        color: #fff;
        background: $color1;
        
        @include media-breakpoint-down (md) {
            .mobile-menu-open & {
                z-index: 2;
            }
        }
        


        &-row {
            align-items: center;
        }
        &-col {
            &-location {
                flex-grow: 1;
            }
            &-numbers {
                justify-self: flex-end;
            }
            &-mail {
                @include rule(display, (xs: none , md: block));
                // margin-left: auto;
            }
        }
    } 

    &__main {
        padding: 13px 0;
        font-size: 14px;
        font-weight: 500;
        background: #fff;

        &-row {
            align-items: center;
            // flex-wrap: nowrap;
        }
        &-col {
            &-logo {
                flex-shrink: 0;
            }
            &-hr {
                @include rule(display, (xs: none, xl: block));
            }
            &-nav {
                @include rule(display, (xs: none , lg: block));
                @include rule(margin-left, (xl: 15px));
                flex-grow: 1;
            }
            &-button {
                @include rule(display, (xs: none, lg: block));
            }

            &-mobile-menu {
                @include rule(display, (xs: block , lg: none));
                margin-left: auto;
            }
        }

        &-hr {
            display: inline-block;
            vertical-align: middle;
            width: 1px;
            height: 36px;
            background: $color4;
        }
    } 
}

