

@mixin retina-image($image, $width, $height) {
  @media (min--moz-device-pixel-ratio: 1.3),
  (-o-min-device-pixel-ratio: 2.6/2),
  (-webkit-min-device-pixel-ratio: 1.3),
  (min-device-pixel-ratio: 1.3),
  (min-resolution: 1.3dppx) {
    background-image: url($image);
    background-size: $width $height;
  }
}


@function px-to-rem($px) {
  @return ($px/$rem) + rem; 
}
img,
frame {
  max-width: 100%;
}
a {
  transition: color 0.2s, border 0.2s; 
}

.text {
  line-height: 1.25;
  font-size: 1rem;
  font-weight: 400;
  font-style: normal;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0.8em 0 0.4em;
  }

  
  h1:first-child,
  h2:first-child,
  h3:first-child,
  h4:first-child,
  h5:first-child,
  h6:first-child {
    margin-top: 0;
  }

  h2 {
   font-size: 20px; 
  }

  ul {
    margin: 1.5em 0 1.5em 20px;
    padding: 0;
  }
  ul:first-child {
    margin-top: 0;
  }
  ul:last-child {
    margin-bottom: 0;
  }
  ul li {
    margin-bottom: 0.8em;
  }
  ul li:last-child {
    margin-bottom: 0;
  }

  ol {
    margin: 1.5em 0 1.5em 20px;
    padding: 0;
  }
  ol:first-child {
    margin-top: 0;
  }
  ol:last-child {
    margin-bottom: 0;
  }
  ol li {
    margin-bottom: 1em;
  }
  ol li:last-child {
    margin-bottom: 0;
  }

  p:first-child {
    margin-top: 0;
  }
  p:last-child {
    margin-bottom: 0;
  }

  table {
    width: 100%;
    margin: 0 0 30px;
  }
  table:last-child {
    margin-bottom: 0;
  }

  th,
  td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #E1E1E1; }
  th:first-child,
  td:first-child {
    padding-left: 0; }
  th:last-child,
  td:last-child {
    padding-right: 0; }
  th {
    font-weight: bold;
  }

  blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
  }
  blockquote::before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
  }
  blockquote p {
    display: inline;
  }
}



.icon {
  display: inline-block;
  vertical-align: middle;
  
  svg {
    display: block;
    color: inherit;
    fill: currentColor;
  }
}

.btn {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  text-decoration: none;
  text-align: center;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  text-transform: none;
  white-space: nowrap;
  cursor: pointer;
  
  &--geom {
    &-def {
      padding: 13px 20px;
      font-size: 16px;
      font-weight: 500;
      line-height: 1.15;
      text-transform: uppercase;
      border-radius: 6px;
    }

    &-def-bd-1 {
      padding: 13px 19px 12px;
      font-size: 16px;
      font-weight: 500;
      line-height: 1.15;
      text-transform: uppercase;
      border-radius: 6px;
    }
  }

  &--theme {
    &-red {
      border: none;
      outline: none;
      box-shadow: none;
      // background: $color-main-2;
      background: $color2;
      transition: background 0.2s;
      color: #fff;

      &:hover,
      &:active,
      &:focus{
        color: #fff;
        background: darken($color2, 10);
      }
    }

    &-dark {
      border: 1px solid $color2;
      outline: none;
      box-shadow: none;
      // background: $color-main-2;
      background: transparent;
      transition: background 0.2s;
      color: #fff;

      &:hover,
      &:active,
      &:focus{
        color: #fff;
        background: darken($color2, 10);
        border-color: darken($color2, 10);
      }
    }
  }



  

}

.btn-arrow {
  margin: 0;
  padding: 0;
  position: relative;
  width: 44px;
  height: 44px;
  display: inline-block;
  vertical-align: middle;

  text-decoration: none;
  text-align: center;
  line-height: 44px;
  font-style: normal;
  font-family: inherit;
  color: $color2;
  white-space: nowrap;

  border: 1px solid currentColor;
  outline: none;
  box-shadow: none;
  background: none;
  border-radius: 50%;
  transition: color 0.2s, background 0.2s;
  cursor: pointer;

  &[disabled] {
    pointer-events: none;
    opacity: 0.5;
  }
  
  &:hover,
  &:active {
    color: darken($color2, 10);
    // background: `$color-main-3;
  }

  &__icon {
    display: inline-block;
    color: currentColor;
    fill: currentColor;
  }
}



.visible-up {
  &-sm {
    display: none;
    @include media-breakpoint-up(sm) {
      display: block;
    }
  }
  &-md {
    display: none;
    @include media-breakpoint-up(md) {
      display: block;
    }
  }
  &-lg {
    display: none;
    @include media-breakpoint-up(lg) {
      display: block;
    }
  }
  &-xl {
    display: none;
    @include media-breakpoint-up(xl) {
      display: block;
    }
  }
}

.visible-up-inline {
  &-sm {
    display: none;
    @include media-breakpoint-up(sm) {
      display: inline;
    }
  }
  &-md {
    display: none;
    @include media-breakpoint-up(md) {
      display: inline;
    }
  }
  &-lg {
    display: none;
    @include media-breakpoint-up(lg) {
      display: inline;
    }
  }
  &-xl {
    display: none;
    @include media-breakpoint-up(xl) {
      display: inline;
    }
  }
}



.hide-up {

  &-sm {
    @include media-breakpoint-up(sm) {
      display: none;
    }
  }

  &-md {
    @include media-breakpoint-up(md) {
      display: none;
    }
  }
  &-lg {
    @include media-breakpoint-up(lg) {
      display: none;
    }
  }
  &-xl {
    @include media-breakpoint-up(xl) {
      display: none;
    }
  }
}

.hide-down {
  &-xl {
    @include media-breakpoint-down(xl) {
      display: none;
    }
  }

  &-lg {
    @include media-breakpoint-down(lg) {
      display: none;
    }
  }

  &-md {
    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  &-sm {
    @include media-breakpoint-down(sm) {
      display: none;
    }
  }



}


@include media-breakpoint-down(lg) {
}

@include media-breakpoint-down(md) {
}

@include media-breakpoint-down(sm) {
}

@include media-breakpoint-down(xs) {
}



@include media-breakpoint-up(sm) {
}

@include media-breakpoint-up(md) {
}

@include media-breakpoint-up(lg) {
}

@include media-breakpoint-up(xl) {
}

/*
@include rule(, (xs: , lg: ));
*/
