@import '_libs';
@import '_varaibles';
@import '_mixins';
@import '_fonts';
@import '_ui';
@import '_header';
@import '_footer';
@import '_main-page';




body {
  min-width: 320px;
  font-family: $ffMontserrat;
  font-size: 18px;
  line-height: 1.15;
  color: #000000;
  background: #fff;
}

.wrapper {
  overflow: hidden;
}
.container {
  @include media-breakpoint-up(xl) {
    max-width: 1180px;
  }
}


.main {
  @include rule(padding, (xs: 35px 0 65px, lg: 35px 0 105px));

}









@import '_media';
